/****common***/
.none{
	display:none;
}
.clear{
	clear: both;
}
.red_font{
	color:red;
}
.border_bottom_none{
	border-bottom: none;
}
.cate .cate_in{
	margin-bottom: 15px;
}
.cate .cate_in .category_title{
	height:40px;
	border:1px solid #DDDDDD;
	border-left:0;
	border-right: 0;
	background: url(../images/cate_title_19.png) no-repeat 10px 10px;
	background-color: #F1F1F1;
}
.cate .cate_in .category_title a{
	float:left;
	color:#7E7D7D;
	text-decoration: none;
	height:40px;
	line-height: 40px;
}
.cate .cate_in .category_title span.right_arr{
	height:40px;
	width: 40px;
	background: url(../images/right_16.png) no-repeat 12px 12px;
}
.cate .cate_in .category_title span.goods_total{
	height:40px;
	line-height: 40px;
	margin-right:10px;
}
.cate .cate_in .category_title span.goods_total .goods_total_num{
	padding-left: 2px;
	padding-right: 2px;
}
.cate .cate_in .category_title a.cate_all{
	margin-left:40px;
}
.cate .cate_in .category_name{
	height:64px;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
}
.cate .cate_in .category_name_list.m_h_160{
	overflow-y: scroll;
	max-height: 160px;
}
.cate .cate_in .category_item.none{
	display: none;
}
.cate .cate_in .category_item.show_all{
	height:auto;
	border:1px solid #AAAAAA;
}
.cate .cate_in .category_item_title{
	height:32px;
	line-height: 32px;
	text-indent: 4px;
	width:93px;
}
.cate .cate_in .category_name_list{
	width:977px;
}
.cate .cate_in .category_name_list ul{
	display: inline-block;
}
.cate .cate_in .category_name_list li{
	float: left;
	width:160px;
	height:32px;
}
.cate .cate_in .category_name_list li a{
	width:160px;
	height:32px;
}
.cate .cate_in .category_item_list li a{
	display: inline-block;
	line-height: 32px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-indent: 20px;
	color: #0058A2;
	position: relative;
}
.cate .cate_in .category_item_list li:hover a{
	color: #E8303F;
}
.cate .cate_in .category_item_list.multi_check li a:before{
	content: "";
	border:1px solid #dddddd;
	display: inline-block;
	width:14px;
	height:14px;
	position: absolute;
	top:9px;
	left:1px;
}
.cate .cate_in .category_item_list.multi_check li a.checked:before{
	background: url(../images/cate_pic_001.png) no-repeat 0px -106px;
	border-color:#E8303F;
}
.cate .cate_in .category_item_list.multi_check li a.checked{
	color:#E8303F;
}

.cate .cate_in .category_item_list.multi_check li:hover a:before{
	color: #E8303F;
	border:1px solid #E8303F;
}
.cate .cate_in .category_item .multi_check_info{
	float:left;
	display: block;
}
.cate .cate_in .category_item .multi_check_info.none{
	display: none;
}
.cate .cate_in .category_item .multi_btn_group{
	height:24px;
	width:132px;
	display: block;
	margin: 10px auto 5px;
}
.cate .cate_in .category_item .multi_btn_group span{
	cursor: pointer;
	width:52px;
	height:24px;
	display: inline-block;
	line-height: 24px;
	text-align: center;
	background-color: #F4F4F4;
	border: 1px solid #DDDDDD;
	margin: 0 5px;
	border-radius: 2px;
}
.cate .cate_in .category_item .multi_btn_group span.none{
	display: inline-block;
	visibility: hidden;
}
.cate .cate_in .category_item .multi_btn_group span:hover{
    box-shadow: 0 1px 1px rgba(0,1,1,.08);
}
.cate .cate_in .category_item .multi_btn_group span.multi_btn_confirm{
	background-color: #E33C3F;
	border: 1px solid #E33C3F;
	color:#ffffff;
}




.cate .cate_in .category_opr{
	height:30px;
	width:130px;
	display: inline-block;
}
.cate .cate_in .category_opr.none{
	display: none;
}
.cate .cate_in .category_opr .category_opr_btn{
	height:22px;
	line-height:22px;
	display: inline-block;
	margin-top:5px;
	margin-left:16px;
	float:left;
	cursor: pointer;
}
.cate .cate_in .category_opr .category_opr_btn.none{
	visibility: hidden;
}
.cate .cate_in .category_opr .more{
	width:58px;
	height:22px;
	text-indent: 7px;
	position: relative;
}
.cate .cate_in .category_opr .more:after{
	content: "";
	display: inline-block;
	position: absolute;
	right:0;
	height:0;
	width:20px;
	height:22px;
	border:1px solid #DDDDDD;
	transition: background-position 0.2s;
	background: url(../images/cate_pic_001.png) no-repeat 3px 8px;
}
.cate .cate_in .category_opr .more:hover{
	color:#E8303F;
}
.cate .cate_in .category_opr .more:hover:after{
	border:1px solid #E8303F;
	background-position-y: -10px;
}

.cate .cate_in .category_opr .more.active:after{
	background-position-y: -26px;
}
.cate .cate_in .category_opr .more.active:hover:after{
	background-position-y: -44px;
}

.cate .cate_in .category_opr .mul_sel{
	width:46px;
	height:22px;
	margin-left: 3px;
	text-indent: 19px;
	border:1px solid #DDDDDD;
	background: url(../images/cate_pic_001.png) no-repeat 3px -62px;
	transition: background-position 0.2s;
} 
.cate .cate_in .category_opr .mul_sel:hover{
	color:#E8303F;
	border-color:#E8303F;
	background-position-y: -83px;
}

/***价格**/
.cate .cate_in .category_price{
	height:32px;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
}
.cate .cate_in .category_price_list{
	width:977px;
}
.cate .cate_in .category_price_list li{
	float: left;
	width:80px;
	height:32px;
}
.cate .cate_in .category_price_list li a{
	width:80px;
	height:32px;
}
.cate .cate_in .category_price_list .price_range{
	display: inline-block;
	margin-left:20px;
}
.cate .cate_in .category_price_list .price_range input.price_range_input{
	float:left;
	width:40px;
	height:20px;
	border:1px solid #CCCCCC;
	line-height: 20px;
	margin-top:5px;
	margin-left:2px;
	margin-right:2px;
}
.cate .cate_in .category_price_list .price_range span{
	height:20px;
	display: inline-block;
	float:left;
	margin: 6px 2px;
}
.cate .cate_in .category_price_list .price_range .price_range_con{
	margin: 5px 4px;
	width:46px;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
	background-color: #F4F4F4;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
} 
.cate .cate_in .category_price_list .price_range .price_range_con:hover{
    box-shadow: 0 1px 1px rgba(0,1,1,.08);
}
/***衣长***/
.cate .cate_in .category_length{
	height:32px;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
}
.cate .cate_in .category_length_list{
	width:977px;
}
.cate .cate_in .category_length_list li{
	float: left;
	width:80px;
	height:32px;
}
.cate .cate_in .category_length_list li a{
	width:80px;
	height:32px;
}
/***厚度**/
.cate .cate_in .category_thick{
	height:32px;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
}
.cate .cate_in .category_thick_list{
	width:977px;
}
.cate .cate_in .category_thick_list li{
	float: left;
	width:80px;
	height:32px;
}
.cate .cate_in .category_thick_list li a{
	width:80px;
	height:32px;
}
/***上市时间**/
.cate .cate_in .category_time{
	height:32px;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
}
.cate .cate_in .category_time_list{
	width:977px;
}
.cate .cate_in .category_time_list li{
	float: left;
	width:80px;
	height:32px;
}
.cate .cate_in .category_time_list li a{
	width:80px;
	height:32px;
}
/**颜色**/
.cate .cate_in .category_color{
	height:32px;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
}
.cate .cate_in .category_color_list{
	width:977px;
}
.cate .cate_in .category_color_list li{
	float: left;
	width:80px;
	height:32px;
}
.cate .cate_in .category_color_list li a{
	width:80px;
	height:32px;
}
/***含绒量**/
.cate .cate_in .category_down_content{
	height:32px;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
}
.cate .cate_in .category_down_content_list{
	width:977px;
}
.cate .cate_in .category_down_content_list li{
	float: left;
	width:80px;
	height:32px;
}
.cate .cate_in .category_down_content_list li a{
	width:80px;
	height:32px;
}
/***尺码**/
.cate .cate_in .category_size{
	height:32px;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
}
.cate .cate_in .category_size_list{
	width:977px;
}
.cate .cate_in .category_size_list li{
	float: left;
	width:65px;
	height:32px;
}
.cate .cate_in .category_size_list li a{
	width:65px;
	height:32px;
}

/****category_more**/
.category_more{
	height:30px;
	text-align: center;
	line-height: 30px;
	position: relative;
	top:-1px;
	border-top:1px solid #DDDDDD;
}
.category_more .cm_wrap{
	cursor: pointer;
	border:1px solid #DDDDDD;
	border-top:1px solid #ffffff;
	display: inline-block;
	padding-left: 10px;
	padding-right: 30px;
	height:30px;
	line-height: 30px;
	position: relative;
	top:-1px;
}
.category_more:hover{
	border-top:1px solid #E8303F;
}
.category_more:hover .cm_wrap{
	color:#E8303F;
	border-color:#E8303F;
	border-top:1px solid #ffffff;
	position: relative;
	top:-1px;
}
.category_more .cm_wrap i{
	position: absolute;
	width:20px;
	height:20px;
	right:5px;
	top:5px;
	display: inline-block;
	transition: background-position 0.2s;
	background: url(../images/cate_pic_001.png) no-repeat 3px 8px;
}
.category_more:hover .cm_wrap i{
    background-position-y: -9px;
}
.category_more .cm_wrap.opened i{
    background-position-y: -27px;
}
.category_more:hover .cm_wrap.opened i{
    background-position-y: -44px;
}

/***gm**/
.gm{
	margin-bottom:20px;
}
.gm_in .gm_in_left{
	float:left;
	width:210px;
	display: inline-block;
}
.gm_in .gm_in_right{
	float:left;
	width:982px;
	display: inline-block;
	margin-left: 8px;
}
.gm_in .gm_in_left .jxsp{
	width:208px;
	border:1px solid #DDDDDD;
}
.gm_in .gm_in_left .jxsp .jxsp_t{
	height:40px;
	line-height: 40px;
	font-size: 14px;
	text-indent: 10px;
}
.gm_in .gm_in_left .jxsp_item{
	width:210px;
	height:303px;
}
.gm_in .gm_in_left .jxsp_item img{
	display:block;
	width:190px;
	height:190px;
	margin:9px;
}
.gm_in .gm_in_left .jxsp_item .jxsp_title{
	width:190px;
	margin-left:9px;
	font-size: 12px;
	line-height: 20px;;
	height:42px;
	display: block;
	overflow: hidden;
}
.gm_in .gm_in_left .jxsp_item .jxsp_price{
	width:190px;
	margin-left:9px;
	font-size: 14px;
	height:26px;
	line-height: 26px;
	color:#EA2D39;
}
.gm_in .gm_in_left .jxsp_item .jxsp_evaluate{
	font-size: 13px;
	text-indent:9px;
	color: #999999;
}


.gm_in .gm_in_left .drxg{
	width:208px;
	border:1px solid #DDDDDD;
	margin-top:10px;
}
.gm_in .gm_in_left .drxg .drxg_t{
	height:40px;
	line-height: 40px;
	font-size: 14px;
	text-indent: 10px;
}
.gm_in .gm_in_left .drxg_item{
	width:210px;
	height:280px;
}
.gm_in .gm_in_left .drxg_item img{
	display:block;
	width:190px;
	height:190px;
	margin:9px;
}
.gm_in .gm_in_left .drxg_item .drxg_title{
	width:190px;
	margin-left:9px;
	font-size: 12px;
	line-height: 20px;;
	height:42px;
	display: block;
	overflow: hidden;
}
.gm_in .gm_in_left .drxg_item .drxg_price{
	width:190px;
	margin-left:9px;
	font-size: 14px;
	height:26px;
	line-height: 26px;
	color:#EA2D39;
}

/***right**/
.gm_in .gm_in_right .gm_r_toolbar{
	width:982px;
	height:40px;
	border:1px solid #DDDDDD;
	border-right:none;
	background-color: #F1F1F1;
}
.gm_in .gm_in_right  .gm_tools{
	height:40px;
	text-align: center;
	display: inline-block;
	cursor:pointer;
	position: relative;
	border-right:1px solid #D3D3D3;
}
.gm_in .gm_in_right  .gm_tools .gm_tools_content{
	display: inline-block;
	margin-top: 4px;
	height:32px;
	width:78px;
	text-indent: -10px;
	line-height: 32px;
}
.gm_in .gm_in_right  .gm_tools.active{
	background-color: #EA2D39;
	color:#ffffff;
}
.gm_tools .arrow{
	width:7px;
	height:11px;
	display: inline-block;
	position: absolute;
	top:15px;
	left:50px;
	background: url(../images/sprite-arrow.png) no-repeat 0 -100px;
}
.gm_tools:hover .arrow{
    background-position: 0 -140px;
}
.gm_tools:hover{
	color:#EA2D39;
}
.gm_tools.active .arrow{
    background-position: 0 -120px;
}
.gm_tools .arrow1{
	width:7px;
	height:11px;
	display: inline-block;
	position: absolute;
	top:15px;
	left:50px;
}
.gm_tools .arrow1 .arrow-top{
	display: inline-block;
	/*border:1px solid red;*/
	width:7px;
	height:4px;
	float:left;
	/*background: url(../images/sprite-arrow.png) no-repeat -10px -120px;*/
	background: url(../images/sprite-arrow.png) no-repeat -10px -100px;
}
.gm_tools .arrow1 .arrow-bottom{
	display: inline-block;
	/*border:1px solid red;*/
	width:7px;
	height:4px;
	float:left;
	margin-top:3px;
	/*background: url(../images/sprite-arrow.png) no-repeat -10px -130px;*/
	background: url(../images/sprite-arrow.png) no-repeat -10px -110px;
}
.gm_tools.active.up .arrow1 .arrow-top{
	background-position:-10px -120px;
}
.gm_tools.active.up .arrow1 .arrow-bottom{
	opacity: 0.5;
}
.gm_tools.active.down .arrow1 .arrow-top{
	opacity: 0.5;
}
.gm_tools.active.down .arrow1 .arrow-bottom{
	background-position:-10px -130px;
}
.price_arrange{
	float:left;
	width:130px;
	height:40px;
	position: relative;
	overflow: hidden;
	border-right:1px solid #D3D3D3;
}
.pc_content{
	position: absolute;
	top:0;
	left:0;
	width:130px;
	height:80px;
}
.price_arrange:hover{
	overflow: visible;
}
.price_arrange:hover .pc_content{
	border:1px solid #dddddd;
	background-color: #ffffff;
}
.pc_content input{
	float:left;
	display: inline-block;
	width:50px;
	margin:9px 4px;
	height:20px;
	border: 1px solid #DDDDDD;
}
.pc_content span{
	font-size: 12px;
	float:left;
	display: inline-block;
	width:5px;
	height:20px;
	margin: 9px 2px;
}
.content_bottom span{
	display: inline-block;
	width:45px;
	height:20px;
	cursor: pointer;
	text-align: center;
	line-height: 20px;
}
.content_bottom .clear{
	color:#0058A2;
	float:left;
	margin-left:6px;
	margin-top: 7px;
}
.content_bottom .confirm{
	float:right;
	margin-right:6px;
	margin-top: 7px;
	background-color: #F4F4F4;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
}
.free_post{
	width:90px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	text-indent: 20px;
	position: relative;
	cursor: pointer;
	border-right:1px solid #D3D3D3;
}
.free_post:before{
	content: "";
	width:12px;
	height:12px;
	display: inline-block;
	border:1px solid #DDDDDD;
	background-color: #ffffff;
	position: absolute;
	top:13px;
	left:8px;
}
.free_post:hover{
	color:#EA2D39;
}
.free_post:hover:before{
	border-color:#EA2D39;
}
.free_post.gm_selected:before{
	border:1px solid red;
	background-image: url(../images/cate_pic_001.png);
	background-repeat: no-repeat;
	background-position:-1px -107px;
}
.free_post.gm_selected{
	color:#EA2D39;
}
.in_storage{
	width:110px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	text-indent: 16px;
	position: relative;
	cursor: pointer;
	border-right:1px solid #D3D3D3;
}
.in_storage:before{
	content: "";
	width:12px;
	height:12px;
	display: inline-block;
	border:1px solid #DDDDDD;
	background-color: #ffffff;
	position: absolute;
	top:13px;
	left:8px;
}
.in_storage:hover{
	color:#EA2D39;
}
.in_storage:hover:before{
	border-color:#EA2D39;
}
.in_storage.gm_selected:before{
	border:1px solid #EA2D39;
	background-image: url(../images/cate_pic_001.png);
	background-repeat: no-repeat;
	background-position:-1px -107px;
}
.in_storage.gm_selected{
	color:#EA2D39;
}
.page_info{
	float:right;
	margin-right:5px;
}
.page_info .page_num{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	height:40px;
	line-height: 40px;
	float:left;
}
.page_info .pre,.page_info .next{
	display: inline-block;
	float:left;
	width:20px;
	height:20px;
	border:1px solid #E1E1E1;
	margin-top:9px;
	margin-right:8px;
	cursor: pointer;
	background-color: #ffffff;
}
.page_info .pre{
	background-image: url(../images/gm_icon2.png);
	background-position:3px 0px;
	background-repeat: no-repeat;
}
.page_info .next{
	background-image: url(../images/gm_icon1.png);
	background-position:-3px 0px;
	background-repeat: no-repeat;
}
.page_info .pre.disable{
	background-color: #EFEFEF;
}
.page_info .next.disable{
	background-color: #EFEFEF;
}
/***商品列表**/
.gl_wrapper{
	width:982px;
	margin-top:15px;
}
.gl_item{
	float:left;
	width:241px;
	height: 480px;
	border:2px solid transparent;
}
.gl_item:hover{
	border:2px solid #EA2D39;
}
.gl_item .gl_item_img{
	width:228px;
	height:294px;
	display: block;
	margin: 15px 7px 2px;
}
.gl_item .gl_item_main{
	width:228px;
	height:31px;
	margin-left: 7px;
}
.gl_item .gl_item_main ul li{
	float:left;
	display: inline-block;
	width:27px;
	height:27px;
	border:2px solid transparent;
	margin-right: 2px;
}
.gl_item .gl_item_main ul li:hover{
	border:2px solid #e4393c;
}
.gl_item .gl_item_main ul li img{
	display: inline-block;
	width:25px;
	height:25px;
	border:1px solid #ddd;
}
.gl_item  .gl_item_price{
	width:228px;
	height:45px;
	line-height: 45px;
	font-size: 18px;
	margin-left: 7px;
	color:#e4393c;
}
.gl_item  .gl_item_name{
	width:228px;
	margin-left:7px;
	font-size: 12px;
	line-height: 20px;;
	height:42px;
	display: block;
	color:#000000;
	overflow: hidden;
}
.gl_item  .gl_item_name:hover{
	color:#e4393c;
}
.gl_item .gl_item_evaluate{
	height:20px;
	line-height: 20px;
	font-size: 13px;
	text-indent:7px;
	color: #999999;
	font-size: 12px;
}
.gl_item .gl_item_shop_name{
	width:228px;
	height:25px;
	margin-left:7px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.gl_item .gl_item_shop_name a{
	width:208px;
	height:25px;
	line-height: 25px;
	font-size: 13px;
	color: #999999;
	display: inline-block;
	text-decoration: underline;
}
.gl_item .gl_item_shop_name i{
	float:right;
	margin-top:4px;
	width:16px;
	height:16px;
	display: inline-block;
	background: url(../images/kefu.gif) no-repeat -83px -4px;
}
.pagination_div{
	width:982px;
	height:36px;
	margin-top: 10px;
}
.pagination_content_div{
	float:right;
}
.pagination_content_div a{
	float:left;
	display: inline-block;
	height:34px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 34px;
	text-align: center;
	border:1px solid #dddddd;
	color: #333333;
	margin-right:5px;
}
.pagination_content_div a.pre,.pagination_content_div a.next{
	background-color: #F4F4F4;
}
.pagination_content_div a.pre:hover,.pagination_content_div a.next:hover{
	background-color: #e6e6e6;
}
.pagination_content_div a.page_num.cur_page{
	background-color: #F4F4F4;
}
.pagination_content_div a.page_num{
	background-color: #ffffff;
}
.pagination_content_div a.page_num:hover{
	background-color: #e6e6e6;
}
.pagination_content_div a.page_no_border{
	border:1px solid transparent;
}

.pagination_content_div .total_page{
	float:left;
	display: inline-block;
	height:34px;
	padding-left: 10px;
	line-height: 34px;
	color: #333333;
	margin-right:5px;
}
.jump_page{
	float:left;
	height:34px;
	text-align: center;
	width:35px;
	line-height: 34px;
	color: #333333;
	border:1px solid #dddddd;
	margin-right:1px;
}
.pagination_content_div .total_page_w{
	float:left;
	display: inline-block;
	height:34px;
	line-height: 34px;
	padding-left: 5px;
	color: #333333;
	margin-right:5px;
}
.pagination_content_div .confirm_btn{
	padding-left: 10px;
	padding-right: 10px;
	height:34px;
	line-height: 34px;
	color: #333333;
	border:1px solid #dddddd;
	display: inline-block;
	background-color: #F4F4F4;
	cursor: pointer;
	border-radius: 2px;
}
.pagination_content_div .confirm_btn:hover{
	background-color: #e6e6e6;
}
/****底部商品精选**/
.spjx2{
	margin-top: 50px;
	margin-bottom: 10px;
}
.spjx2_in{
	height:340px;
	border:1px solid #DDDDDD;
}
.spjx2_title{
	height:30px;
	line-height: 30px;
    text-indent: 10px;
}
